.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item .active {
    color: gold;
}
.friends {
    padding-top: 80px;
    font-size: 35px;
    font-family: initial;
}
.friendsItem {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding-top: 30px;
}